.trend-container {
    border: 1px solid #f7f9f9;
    background-color: #f7f9f9;
    width: 100%;
    max-width: 370px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 25px;
    padding: 10px;
}

.trend-container h1{
    font-size: 25px;
    font-weight: 700;
}
.trend-container h2,p{
    font-size: 18px;
    margin-top: -10px;
}
.trendContent-head{
    display: flex;
    justify-content: space-between;
}
.trendContent-head h3{
    font-size: 15px;
    font-weight: 400;
}
.trendCard-container:hover{
    background-color: rgba(185, 183, 183, 0.1);
    cursor: pointer;
}